<!DOCTYPE html>
<html>
<head>
	<title>FlatironSchool Online Widget Store</title>
	<title>Flatiron Store</title>
  	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  	<%= csrf_meta_tags %> 
</head>
	<body>
      <h1>Flatiron Widgets Store</h1>

		<%= yield %>  

		<div class="footer">
	    	<p>This shop promises the lowest prices in widgets!</p>
	    </div>    

	</body>
</html> 